@model ADT.Workflow.Web.Models.FILE_TYPE

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>FILE_TYPE</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FILE_TYPE_LABEL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FILE_TYPE_LABEL)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
