    <p>
        Gestion des articles
    </p>
    <ul>
        <li>@Html.ActionLink("Ajouter un article", "AddArticle")</li>
        <li>@Html.ActionLink("Articles à corriger", "ShowEditUserArticles")</li>
        <li>@Html.ActionLink("Articles en cours de validation", "ShowCurrentUserWorkflowArticles")</li>
        <li>@Html.ActionLink("Historique", "ShowHistoricUserArticles")</li>
    </ul>