    <p>
        Gestion des articles
    </p>
    <ul>
        <li>@Html.ActionLink("Articles à valider", "ShowValidateUserArticles")</li>
        <li>@Html.ActionLink("Articles en cours de correction", "ShowCurrentUserEditArticles")</li>
        <li>@Html.ActionLink("Historique", "ShowHistoricUserArticles")</li>
    </ul>